<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Magna Technica Ltd. Web Shop" />
        <meta name="author" content="Christopher Hartarski" />
        <title>Magna Technica WebShop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="~{fragments/navbar}"></header>
        <main class="flex-shrink-0">

            <!-- Orders section -->
            <section class="py-5">
                <div class="container px-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder" th:text="#{orders_title}">Orders</h1>
                        <div class="text-muted mt-2" sec:authorize="hasRole('USER')">
                            <div>
                                <span th:text="#{orders_user}">User: </span>
                                <span th:text="${userDetails.getFullName()}">{user full name}</span></div>
                            <div>
                                <span th:text="#{orders_company}">Company: </span>
                                <span th:text="${userDetails.companyName}">{user company name}</span></div>
                        </div>
                    </div>

                    <small th:if="${alreadyDispatchedOrDelivered}" class="bg-danger">
                        <span th:text="#{orders_cannot_delete_error_part1}">Cannot delete order </span>
                        <span th:text="${orderId}">{order id}</span>
                        <span th:text="'! '#{orders_cannot_delete_error_part2} + '.'">! Order is already dispatched or delivered.</span>
                    </small>
                    <!-- Awaiting orders section -->
                    <section class="py-3">
                        <div class="h2 pb-2" th:text="#{orders_awaiting}">Awaiting orders</div>
                        <div class="row gx-5">
                            <div th:each="awaitingOrder : ${awaitingOrders}" class="col-lg-3 mb-5">
                                <div class="card h-100 shadow border-0">
                                    <div class="card-header p-4">
                                        <div class="h5 card-title">
                                            <span th:text="#{orders_order_number} + ':'">Order number:</span>
                                            <a class="link-primary" th:href="@{/orders/{id}(id=${awaitingOrder.id})}" th:text="${awaitingOrder.id}">{order id}</a>
                                        </div>
                                    </div>
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="text-body">
                                                <span th:text="#{orders_user} + ': '">User: </span>
                                                <span th:text="${awaitingOrder.userFullName}"></span>
                                            </div>
                                            <div class="text-muted">
                                                <span th:text="#{orders_company} + ': '">Company: </span>
                                                <span th:text="${awaitingOrder.userCompanyName}"></span>
                                            </div>
                                            <div class="text-body mt-2 mb-2">
                                                <span th:text="#{orders_created_on} + ': '">Created on: </span>
                                                <span th:text="${#temporals.format(awaitingOrder.createdOn, 'dd-MM-yyyy HH:mm')}"></span>
                                            </div>
                                            <div class="fw-bold mt-2">
                                                <span th:text="#{orders_total} + ': '">Order total: </span>
                                                <span th:text="${awaitingOrder.totalPrice}"></span> EUR
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                        <div class="mt-3 align-items-center justify-content-between row">
                                            <div class="col-6" sec:authorize="hasRole('ADMIN')">
                                                <form
                                                        th:action="@{/orders/dispatch/{id}(id=${awaitingOrder.id})}"
                                                        th:method="post">
                                                    <button class="btn btn-warning" type="submit" th:text="#{orders_dispatch_order_button}">Dispatch Order</button>
                                                </form>
                                            </div>
                                            <div class="col-6">
                                                <form
                                                        th:action="@{/orders/delete/{id}(id=${awaitingOrder.id})}"
                                                        th:method="delete">
                                                    <button class="btn btn-danger" type="submit" th:text="#{orders_delete_order_button}">Delete Order</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Dispatched orders section -->
                    <section class="py-3">
                        <div class="h2 pb-2" th:text="#{orders_dispatched}">Dispatched orders</div>
                        <div class="row gx-5">
                            <div th:each="dispatchedOrder : ${dispatchedOrders}" class="col-lg-3 mb-5">
                                <div class="card h-100 shadow border-0">
                                    <div class="card-header p-4">
                                        <div class="h5 card-title">
                                            <span th:text="#{orders_order_number} + ':'">Order number:</span>
                                            <a class="link-primary" th:href="@{/orders/{id}(id=${dispatchedOrder.id})}" th:text="${dispatchedOrder.id}">{order id}</a>
                                        </div>
                                    </div>
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="text-body">
                                                <span th:text="#{orders_user} + ': '">User: </span>
                                                <span th:text="${dispatchedOrder.userFullName}"></span>
                                            </div>
                                            <div class="text-muted">
                                                <span th:text="#{orders_company} + ': '">Company: </span>
                                                <span th:text="${dispatchedOrder.userCompanyName}"></span>
                                            </div>
                                            <div class="text-body mt-2 mb-2">
                                                <span th:text="#{orders_created_on} + ': '">Created on: </span>
                                                <span th:text="${#dates.format(dispatchedOrder.createdOn, 'dd-MM-yyyy HH:mm')}"></span>
                                            </div>
                                            <div class="fw-bold mt-2">
                                                <span th:text="#{orders_total} + ': '">Order total: </span>
                                                <span th:text="${dispatchedOrder.totalPrice}"></span> EUR
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                        <div class="text-body">
                                            <span th:text="#{orders_dispatched_on_message} + ' '">Order dispatched on </span>
                                            <span th:text="${#dates.format(dispatchedOrder.dispatchedOn, 'dd-MM-yyyy')}">{delivery date}</span>
                                        </div>
                                        <div class="mt-3 align-items-center justify-content-between row" sec:authorize="hasRole('ADMIN')">
                                            <form
                                                    th:action="@{/orders/deliver/{id}(id=${dispatchedOrder.id})}"
                                                    th:method="post">
                                                <button class="btn btn-warning" type="submit" th:text="#{orders_deliver_order_button}">Deliver Order</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Delivered orders section -->
                    <section class="py-3">
                        <div class="h2 pb-2" th:text="#{orders_delivered}">Delivered orders</div>
                        <div class="row gx-5">
                            <div th:each="deliveredOrder : ${deliveredOrders}" class="col-lg-3 mb-5">
                                <div class="card h-100 shadow border-0">
                                    <div class="card-header p-4">
                                        <div class="h5 card-title">
                                            <span th:text="#{orders_order_number} + ':'">Order number:</span>
                                            <a class="link-primary" th:href="@{/orders/{id}(id=${deliveredOrder.id})}" th:text="${deliveredOrder.id}">{order id}</a>
                                        </div>
                                    </div>
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="text-body">
                                                <span th:text="#{orders_user} + ': '">User: </span>
                                                <span th:text="${deliveredOrder.userFullName}"></span>
                                            </div>
                                            <div class="text-muted">
                                                <span th:text="#{orders_company} + ': '">Company: </span>
                                                <span th:text="${deliveredOrder.userCompanyName}"></span>
                                            </div>
                                            <div class="text-body mt-2 mb-2">
                                                <span th:text="#{orders_created_on} + ': '">Created on: </span>
                                                <span th:text="${#dates.format(deliveredOrder.createdOn, 'dd-MM-yyyy HH:mm')}"></span>
                                            </div>
                                            <div class="fw-bold mt-2">
                                                <span th:text="#{orders_total} + ': '">Order total: </span>
                                                <span th:text="${deliveredOrder.totalPrice}"></span> EUR
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                        <div class="text-body">
                                            <span th:text="#{orders_delivered_on_message} + ' '">Order delivered on </span>
                                            <span th:text="${#dates.format(deliveredOrder.deliveredOn, 'dd-MM-yyyy')}">{delivery date}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </main>

        <!-- Footer-->
        <footer th:replace="~{fragments/footer}"></footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
