<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Magna Technica Ltd. Web Shop" />
        <meta name="author" content="Christopher Hartarski" />
        <title>Magna Technica WebShop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" /><!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <header th:replace="~{fragments/navbar::navbar(activeLink=${'contacts'})}"></header>
        <main class="flex-shrink-0">
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact cards-->
                    <div class="row gx-5 row-cols-2 row-cols-lg-3 py-5 justify-content-center">
                        <div class="col">
                            <div class="feature bg-warning bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-geo-alt"></i></div>
                            <div class="h5 mb-2" th:text="#{contacts_where}">Where to find us</div>
                            <p class="text-muted mb-0" th:text="#{contacts_where_address_line1} + ','">2 Arda str.,</p>
                            <p class="text-muted mb-0" th:text="#{contacts_where_address_line2}">7000 Ruse, Bulgaria</p>
                        </div>
                        <div class="col">
                            <div class="feature bg-warning bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <div class="h5" th:text="#{contacts_write}">Where to write</div>
                            <p class="text-muted mb-0">
                                <a class="link-secondary" th:href="@{mailto:office@magna.bg}">office@magna.bg</a>
                            </p>
                            <p class="text-muted mb-0">
                                <a class="link-secondary" th:href="@{mailto:c.hartarski@magna.bg}">c.hartarski@magna.bg</a>
                            </p>
                        </div>
                        <div class="col">
                            <div class="feature bg-warning bg-gradient text-dark rounded-3 mb-3"><i class="bi bi-telephone"></i></div>
                            <div class="h5" th:text="#{contacts_call}">Where to call</div>
                            <p class="text-muted mb-0" th:text="'(+359) 893 333 595 - ' + #{contacts_call_sales}">(+359) 893 333 595 - sales</p>
                            <p class="text-muted mb-0" th:text="'(+359) 888 497 997 - ' + #{contacts_call_service}">(+359) 888 497 997 - service</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="h5 mt-3 mb-3" th:text="#{contacts_map_title}">Our Location</div>
                        <iframe
                            width="600"
                            height="450"
                            style="border:0"
                            loading="lazy"
                            allowfullscreen
                            referrerpolicy="no-referrer-when-downgrade"
                            th:src="@{'https://www.google.com/maps/embed/v1/place?key=' + ${mapsApiKey} + '&q=Магна+Техника+ЕООД'}">
                        </iframe>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer-->
        <footer th:replace="~{fragments/footer}"></footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
