<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Magna Technica Ltd. Web Shop" />
        <meta name="author" content="Christopher Hartarski" />
        <title>Magna Technica WebShop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="fragments/navbar"></header>
        <main class="flex-shrink-0">

            <!-- Part Details Section -->
            <section class="py-5">
                <div class="container px-5">
                    <div class="card-header">
                        <h2 class="fw-bolder fs-5" th:text="${part.partCode}">Spare Part Code</h2>
                        <div class="mb-2">
                            <div>
                                <img class="img-height50" th:src="${part.brandLogoURL}" th:alt="${part.brandName}"/>
                            </div>
                            <div th:if="${part.brandLogoURL==null}">
                                <div class="text-muted mb-0" th:text="${part.brandName}"></div>
                            </div>
                        </div>

                    </div>

                    <div>
                        <img class="img-thumbnail figure-img img-auto300" th:src="${part.imageURL}" th:alt="${part.partCode}"/>
                    </div>


                    <div class="row gx-5">
                        <div class="col-2">Description: </div>
                        <div class="col-8" th:text="${part.descriptionEn}">{part Description}</div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-2">Size: </div>
                        <div class="col-8" th:text="${part.size}">{part Size}</div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-2">Weight: </div>
                        <div class="col-8" th:text="${part.weight}">{part Weight}</div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-2">Suitable for: </div>
                        <div class="col-8" th:text="${part.suitableFor}">{part Suitable for}</div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-2">More info: </div>
                        <div class="col-8" th:text="${part.moreInfo}">{part More info}</div>
                    </div>
                    <div class="small mt-4">
                        <div sec:authorize="isAuthenticated()" class="fw-bold">Price:
                            <span th:text="${part.price}"></span> EUR
                        </div>
                        <div sec:authorize="!isAuthenticated()" class="fw-bold"> To view prices <a th:href="@{/loginUser}">login</a> or <a th:href="@{/register}">register</a>.</div>
                        <div sec:authorize="isAuthenticated()" class="text-muted">Available: <span th:text="${part.quantity}"></span></div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer-->
        <footer th:replace="fragments/footer"></footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
