<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Magna Technica Ltd. Web Shop" />
        <meta name="author" content="Christopher Hartarski" />
        <title>Magna Technica WebShop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <header th:replace="~{fragments/navbar}"></header>
        <main class="flex-shrink-0">

<!--            <Notification Messages>-->
            <section>
                <!--        Edit Part Message-->
                <div class="container-fluid row text-center justify-content-center mt-4" th:if="${partUpdated}">
                    <div class="card bg-success col-4">
                        <div class="card-text mt-3">
                            <p class="text-light" th:text="#{edit_part_message}">Part edited successfully!</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Part Details Section -->
            <section class="py-5">
                <div class="container px-5">
                    <div class="card-header">
                        <h2 class="fw-bolder fs-5" th:text="${part.partCode}">Spare Part Code</h2>
                        <div class="mb-2">
                            <div>
                                <img class="img-height50" th:src="${part.brandLogoURL}" th:alt="${part.brandName}"/>
                            </div>
                            <div th:if="${part.brandLogoURL==null}">
                                <div class="text-muted mb-0" th:text="${part.brandName}"></div>
                            </div>
                        </div>

                    </div>

                    <div>
                        <img class="img-thumbnail figure-img img-auto300" th:src="${part.imageURL}" th:alt="${part.partCode}"/>
                    </div>


                    <div class="row gx-5">
                        <div class="col-2" th:text="#{part_description} + ': '">Description: </div>
                        <div th:if="${#locale.toString() == 'en_US'}" class="col-8" th:text="${part.descriptionEn}">{part Description}</div>
                        <div th:if="${#locale.toString() == 'bg_BG'}" class="col-8" th:text="${part.descriptionBg}">{part Description}</div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-2" th:text="#{part_size} + ': '">Size: </div>
                        <div class="col-8" th:text="${part.size}">{part Size}</div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-2" th:text="#{part_weight} + ': '">Weight: </div>
                        <div class="col-8" th:text="${part.weight} + ' kg'">{part Weight}</div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-2" th:text="#{part_suitable_for} + ': '">Suitable for: </div>
                        <div class="col-8" th:text="${part.suitableFor}">{part Suitable for}</div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-2" th:text="#{part_more_info} + ': '">More info: </div>
                        <div class="col-8" th:text="${part.moreInfo}">{part More info}</div>
                    </div>
                    <div class="small mt-4">
                        <div sec:authorize="isAuthenticated()" class="fw-bold">
                            <span th:text="#{part_price} + ': '">Price:</span>
                            <span th:text="${part.price}"></span> EUR
                        </div>
                        <div sec:authorize="!isAuthenticated()" class="fw-bold">
                            <span th:text="' ' + #{webshop_not_logged_message_part1} + ' '"> To view prices </span>
                            <a th:href="@{/users/login}" th:text="#{webshop_login_link}">login</a>
                            <span th:text="' ' + #{webshop_not_logged_message_part2} + ' '"> or </span>
                            <a th:href="@{/users/register}" th:text="#{webshop_register_link}">register</a>
                            <span>.</span>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="text-muted">
                            <span th:text="#{part_available} + ': '">Available: </span>
                            <span th:text="${part.quantity}"></span>
                        </div>
                        <div class="mt-3 align-items-center justify-content-between" sec:authorize="hasRole('USER')">
                            <form
                                    th:action="@{/parts/add-to-cart/{partCode}(partCode=${part.partCode})}"
                                    th:method="post">
                                <div class="form-floating mb-3 row">
                                    <div class="col-2">
                                        <input class="form-control" id="quantity" type="number" th:min="1" th:max="${part.quantity}" th:placeholder="#{webshop_part_quantity}" th:name="quantity"/>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-warning" type="submit" th:text="#{webshop_add_to_cart_button}">Add to Cart</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="mt-3 align-items-center row" sec:authorize="hasRole('ADMIN')">
                            <div class="col-1">
                                <form
                                        th:action="@{/parts/edit/{partCode}(partCode=${part.partCode})}"
                                        th:method="get">
                                    <button class="btn btn-warning" type="submit" th:text="#{webshop_part_modify_button}">Modify</button>
                                </form>
                            </div>
                            <div class="col-1">
                                <form
                                        th:action="@{/parts/delete/{partCode}(partCode=${part.partCode})}"
                                        th:method="delete">
                                    <button class="btn btn-danger" type="submit" th:text="#{webshop_part_delete_button}">Delete</button>
                                </form>
                            </div>
                            <small th:if="${part.partCode==errorPartCode}" class="text-danger" th:text="#{webshop_cannot_delete_message}">Part cannot be deleted because is already used in existing orders!</small>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer-->
        <footer th:replace="~{fragments/footer}"></footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
