<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Magna Technica Ltd. Web Shop" />
        <meta name="author" content="Christopher Hartarski" />
        <title>Magna Technica WebShop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" /><!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <header th:replace="fragments/navbar"></header>
        <main class="flex-shrink-0">
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Register form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5" id="contact-form">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Register</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form
                                    th:method="post"
                                    th:action="@{/users/register}"
                                    th:object="${registerData}">
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" type="email" placeholder="name@example.com" th:field="*{email}" />
                                        <label for="email">Email address</label>
                                        <small th:errors="*{email}" class="text-danger">Email input error!</small>
                                        <small th:if="${emailExists}" class="text-danger">User with this email already exists!</small>
                                    </div>
                                    <!-- Password input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="password" type="password" placeholder="password" th:field="*{password}" />
                                        <label for="password">Password</label>
                                        <small th:errors="*{password}" class="text-danger">Password input error!</small>
                                    </div>
                                    <!-- Confirm Password input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="confirmPassword" type="password" placeholder="confirm password" th:field="*{confirmPassword}" />
                                        <label for="confirmPassword">Confirm password</label>
                                        <small th:errors="*{confirmPassword}" class="text-danger">Confirm password input error!</small>
                                        <small th:if="${passwordsDoNotMatch}" class="text-danger">Passwords do not match!</small>
                                    </div>
                                    <!-- First Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="firstName" type="text" placeholder="Enter your first name..." th:field="*{firstName}"/>
                                        <label for="firstName">First name</label>
                                        <small th:errors="*{firstName}" class="text-danger">First name input errors!</small>
                                    </div>
                                    <!-- Last Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="lastName" type="text" placeholder="Enter your last name..." th:field="*{lastName}"/>
                                        <label for="lastName">Last name</label>
                                        <small th:errors="*{lastName}" class="text-danger">Last name input errors!</small>
                                    </div>
                                    <!-- Company Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="companyName" type="text" placeholder="Enter company name..." th:field="*{companyName}"/>
                                        <label for="companyName">Company name</label>
                                        <small th:errors="*{companyName}" class="text-danger">Company name input errors!</small>
                                        <small th:if="${companyDoesNotExist}" class="text-danger">Company does not exist in database! Please <a class="link-danger" th:href="@{/company/add}">add company</a> first!</small>
                                    </div>
                                    <!-- Phone number input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="phone" type="text" placeholder="(123) 456-7890" th:field="*{phone}"/>
                                        <label for="phone">Phone number</label>
                                        <small th:errors="*{phone}" class="text-danger">Phone number input errors!</small>
                                    </div>
                                    <!-- User role input-->
                                    <div th:if="${@userSession.isAdminLoggedIn()}" class="form-floating mb-3">
                                        <select class="form-select" id="userRole" name="userRole" th:field="*{userRole}">
                                            <option value="USER" selected>User</option>
                                            <option value="ADMIN">Administrator</option>
                                        </select>
                                        <label for="userRole">User role</label>
                                    </div>

                                    <!-- Submit Button-->
                                    <div class="d-grid">
                                        <button class="btn btn-warning btn-lg" id="submitButton" type="submit">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer-->
        <footer th:replace="fragments/footer"></footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
